body{
    font-family: "dengxian","microsoft yahei light","microsoft yahei",arial;
    font-weight: 300;
    width:100%;
    height:100%;
    background: rgb(41, 41, 41);
    background-size: cover;
    margin:0;
    padding:0;
}
#all{
    position: absolute;
    left: calc(50% - 197.5px);
    top: 15px;
}
#sb{
    z-index: 1;
}
#sbframe{
    border: 2px solid #fff;
    box-shadow: 0px 0px 20px #FFF;
    width:385px;
    height:390px;
    overflow: hidden;
    border-radius: 4px;
}
#leftyx{
    width: 130px;
    height: 300px;
    background: #3a3a3a;
    margin-top: -300px;
    z-index: 3;
    position: absolute;
    left: -150px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px -5px #8a8a8a;
}
#rightyx{
    width: 130px;
    height: 300px;
    background: #3a3a3a;
    margin-top: -300px;
    z-index: 3;
    position: absolute;
    right: -150px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px -5px #8a8a8a;
}
.lb{
    width: 50px;
    height: 50px;
    background: #252525;
    border-radius: 100%;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 38px;
    border: 5px solid #8a8a8a;
    box-shadow: 0px 0px 40px #1b1b1b inset;
}
#dian{
    left: -150px;
    width: 690px;
    height: 70px;
    background: #FFF;
    position: absolute;
    border-radius: 4px 4px 30% 30%;
    opacity: 0.92;
    z-index: 2;
}
#diantx{
    font-family: "dengxian","microsoft yahei light","microsoft yahei",arial;
    font-weight: 300;
    color: red;
    font-size: 58px;
    text-align: center;
    display: block;
    line-height: 68px;
    text-shadow: 0px 0px 6px #CCC;
}
#btmper{
    left: -150px;
    width: 690px;
    height: 70px;
    background: #8a8a8a;
    position: absolute;
    margin-top: 10px;
    border-radius: 4px;
}
#playera{
    width: 684px;
    margin-left: 3px;
    margin-top: 0.5%;
}
.tx{
    padding:0;
    margin:0;
    display: inline;
    font-family: "dengxian","microsoft yahei light","microsoft yahei",arial;
    font-weight: 300;
    color: #FFF;
    height:20px;
    font-size: 30px;
    margin-left: 3px;
    line-height:28px;
}
.light{
    width: 10px;
    height: 10px;
    background: red;
    margin-top: -20px;
    margin-left: 110px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px red;
    transition: background,box-shadow 0.15s ease-in-out;
}
.file {
    position: absolute;
    display: inline-block;
    background: #3a3a3a;
    border-radius: 4px;
    padding: 1px 3px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 28px;
    font-family: "dengxian","microsoft yahei light","microsoft yahei",arial;
    font-weight: 300;
    color: #FFF;
    transition: color,background 0.20s ease-in-out;
    margin-left: 2px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #131313;
    color: #ffffff;
    text-decoration: none;
}
.lastx{
    font-family: "dengxian","microsoft yahei light","microsoft yahei",arial;
    font-weight: 300;
    color: #fff;
    margin-top: 5px;
    text-align: center;
    display: block;
    font-size: 20px;
}
.diantext{
    font-family: "dengxian","microsoft yahei light","microsoft yahei",arial;
    font-weight: 300;
    color: #000;
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    margin-top: 300px;
    z-index: 123;
    left: calc(50% - 50px);
    border-radius: 100%;
    opacity: 0.7;
    font-size: 80px;
    text-align: center;
    line-height: 100px;
    transition: opacity 0.25s ease-in-out;
}
input[type="range"]{
    width:128px;
}
#wd{
    max-height:60px;
}
.lns{
    z-index: 10;
    position: absolute;
    margin-top: -60px;
    margin-left: 165px;
    transition: margin-top,margin-left,0.6s,linear;
}
.gt-counts{
    color: #FFF;
}
.gt-user-name{
    color: #fff;
}